@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Identity
@model IEnumerable<Job>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Require
            </th>
            <th>
                Deadline
            </th>
            <th>
                Location
            </th>
            <th>
                Industry
            </th>
            <th>
                Salary
            </th>
            <th>
                DImage
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <a asp-controller="Home" asp-action="DetailJob" asp-route-id="@item.Id">
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Requiered)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Industry)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    <img src="/images/@item.DImage" alt="ImageUrl" style="width:100px; height:auto" />
                </td>
                <td>
                    <a asp-action="DetailJob" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>

            </a>
        }
    </tbody>
</table>